*{
    font-family: 'Barlow', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Titillium Web', sans-serif;
}

.header-wrapper{
    background-color:#FFF6F3;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;
}
.nav-title{
    margin-left: 30px;
    padding: 5px;
    font-weight: 900;
    font-size: 45px;
    color: #181818;
}
.mane-wrapper{
    display: flex;
    text-align: end;
    align-items: center;
}
nav ul{

}
nav li{
    list-style: none;
    margin-right:20px ;
 
    
}
nav li a{
    text-decoration: none;
    color: gray;
}
.test-primary {
    color: #FD6E0A;
}
.btn-primary{
    border-radius: 5px;
    background-color:#FD6E0A ;
    color: white;
    font-size: 20px;
    font-weight: 400;
    padding: 5px;
    border: 0px;
    
}

.banner{
    padding: 30px 30px 0px 120px;
    display: flex;
    /* text-align: center; */
   background-image: url("../images/header_bg.png");
   background-repeat: no-repeat;
   background-position: bottom right;
}
.images-wrapper{
    /* width: 60%; */
    
}
.banner-greeting{
    text-align: left;
    font-size: 45px;
    color: #474747;
    margin-bottom:00px;
    
}
.banner-wrapper{
    text-align: left;
    font-size: 70px;
    width: 500;
    margin-bottom: 0px;
    
}
.pagrap-wrapper{
    color: #757575;
    text-align: left;
    margin: 5px;
}
.button-contact{
    margin-top: 39px;
}

.contact{
    margin-left: 39px;
}


/* main section style */

.about{
    padding: 20px;
    /* text-align: center; */
    border-radius: 10px;
    background: #FFF8F3;
    margin: 70px 0px;
    
}
.section-1{
    max-width: 850px;
    margin:0 auto;
}

.about-title{
    color:#181818;
    text-align: center;
    font-size: 30px;
    width: 500;
}
.about-description{
    color: #757575;
    text-align: center;
    font-size: 18px;
}


.info{
    display: flex;
    justify-content:space-around;
    
}
.info-wrapper{
    margin:0px 50px;
    text-align: center;
   

}
.form-var{
    color: #757575;
    

}


                   /* .pation-wraper */

           .pation-wraper{
            margin: 70px 200px;
           }    
           
           
      /* what i do about style      */
     
      .skill-container{
        display: flex;
        
      }
      .skill{
        padding: 30px;
        gap: 24px;
        box-shadow: 2px 6px 10px #1E1E1E;
      }

