*{
    font-family: 'Barlow', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Titillium Web', sans-serif;
}

.header-wrapper{
    background-color:#FFF6F3;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;
}
.nav-title{
    margin-left: 30px;
    padding: 5px;
    font-weight: 900;
    font-size: 45px;
    color: #181818;
}
.mane-wrapper{
    display: flex;
    text-align: end;
    align-items: center;
}
nav ul{

}
nav li{
    list-style: none;
    margin-right:20px ;
 
    
}
nav li a{
    text-decoration: none;
    color: gray;
}
.test-primary {
    color: #FD6E0A;
}
.btn-primary{
    border-radius: 5px;
    background-color:#FD6E0A ;
    color: white;
    font-size: 20px;
    font-weight: 400;
    padding: 5px;
}

.banner{
    padding: 30px 30px 30px 120px;
    display: flex;
    text-align: center;
}
.images-wrapper{
    width: 50%;
}
.banner-greeting{
    text-align: left;
}
.banner-wrapper{
    text-align: left;
}
.pagrap-wrapper{
    text-align: left;
}